/*** GENERAL ***/

/* aligns content */
.middle {
  align-items: center;
  display: flex;
}

/* centered img gallery */
.centered-logos {
  margin-top: 40px;
  float: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}


/*** TYPOGRAPHY ***/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #565656;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0px;
    /* color: #10161A; */
    color: #294344;
}

h1 {
  font-size: 72px;
  margin-bottom: 8px;
}

h2 {
  font-size: 6rem;
  margin-bottom: 8px;
}

h3 {
    font-size: 4rem;
    margin-bottom: 8px;
}

h4 {
    font-size: 2rem;
    line-height: 27px;
    font-weight: lighter;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #009BA2;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-color {
    color: #009BA2;
}

.white-text {
    color: #FFF;
}

.primary-color-text {
    color: #009BA2;
}

::-moz-selection {
  background-color: rgba(0, 155, 162, 0.23);
}

::selection {
  background-color: rgba(9, 80, 176, 0.24);
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}


/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding: 96px 16px;
}

.md-padding-video {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.md-padding-video iframe {
    border-radius: 5px;
    max-width: 100vw;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* --  background section  -- */

.divided {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}

.bg-soft{
  background: #f2feff;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #43487d;
}

.bg-img .overlay-white {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #ffffffdb;
}


/* --  section header  -- */

.section-header {
    position: relative;
  margin-bottom: 8px;
}

.section-header-left {
    position: relative;
    /* margin-bottom: 60px; */
}


/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 48px;
    width: 100%;
    border: none;
    background: white;
    color: #354052;
    padding: 0px 16px;
}

textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #6195FF;
    opacity: 1;
}


/* --  Buttons  -- */

buttons {
  display: flex;
  margin-top: 16px;
}

.main-btn, .white-btn, .outline-btn, .white-outline-btn, .color-outline-btn {
  display: inline-block;
  padding: 8px 24px;
  margin: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  line-height: 2.4rem;
  vertical-align: middle;
}

.main-btn {
    background: #009BA2;
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #009BA2;
}

.outline-btn {
    background: transparent;
    color: #009BA2 !important;
    border-color: #009BA2;
}

.white-outline-btn {
    background: transparent;
    color: white;
    border-color: white;
}

.color-outline-btn {
    background: #f2feff;
    color: #009BA2 !important;
    border-color: #009BA2;
}

.fixed-nav .color-outline-btn {
    background: #ffffff;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover, .color-outline-btn:hover {
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 24px 12px rgba(0, 155, 162, 0.24);
    transition: 0.2s;
}

.white-btn:hover {
    opacity: .8;
}

.outline-btn:hover {
  background: #009BA2;
  border-color: #009BA2;
  color: white !important;
  opacity: .8;
}

.outline-btn:active {
    background: #009BA2;
    color: white !important;
    border: 1px solid #43487d;
}

.white-outline-btn:hover {
    background: #ffffff32;
    border: 1px solid #6c7099;
}

.white-outline-btn:active {
    background: white;
    color: #009BA2;
}

/* removes focus */
button {
    outline: none;
}

buttons a:hover {
    text-decoration: none;
}

button {
    font-weight: 700;
}

.home-content .main-btn {
  height: 56px;
}


/*** NAVBAR ***/

.navbar-nav>li>a {
    line-height: 16px;
}

.navbar-brand {
  padding: 0;
  display: inline-table;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 64px;
    display: block;
    padding: 12px;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
	display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
	display: none;
    margin-left: auto;
    margin-right: auto;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

#nav {
    padding: 10px 0px;
    background: #FFF;
    -webkit-transition: 0.2s padding;
    transition: 0.2s padding;
    z-index: 999;
}

#nav.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    min-height: 56px;
}

#nav.fixed-nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 0px;
    background-color: rgba(255, 255, 255, 0.96) !important;
    border-bottom: 1px solid #EEE;
}

#nav.nav-transparent {
    background: transparent;
}


/*** HEADER ***/

header {
    position: relative;
}

#home {
  height: 80vh;
  background-color: #f2feff;
/*
  background-image: url("../img/art3.png");
  background-repeat: no-repeat;
  background-size: contain;
*/
}

.home-art {
    position: absolute;
    top: -10%;
    /* float: right; */
    right: -16%;
    /* height: 45%; */
    z-index: 1;
}

.home-art img {
  height: 95vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 54%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  z-index: 2;
}

.home-content {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}

.home-mockup:hover {
    opacity: .8;
}

.supporting-txt {
  font-size: 14px;
  font-weight: 300;
/*  color: #767676;*/
  display: inline-block;
  margin: 8px 12px;
  vertical-align: middle;
}

.home-content p {
  font-size: 2rem;
  margin-bottom: 16px;
}

.home-content iframe {
    max-width: 77%;
}


/*** ABOUT ***/

.about {
  border-radius: 8px;
  position: relative;
  text-align: center;
  padding: 40px 20px;
  border: 1px solid #EEE;
  /* border-top: 3px solid black; */
  margin: 15px 0px;
  background: #ffffff;
}

.about:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, .08);
  cursor: pointer;
}

.about i {
    font-size: 36px;
    margin-bottom: 20px;
}

.about h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

#about .section-header {
  margin-bottom: 24px;
}

#rules h2 {
    color: #43487D;
}


/*** WORK ***/

.work {
    position: relative;
    padding: 20px;
}

/*
#clients .work img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
*/

.work>img {
  width: 100%;
}

.work .overlay {
    background: #1C1D21;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.work .work-content {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work .work-content span {
    display: block;
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #6195FF;
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.work .work-link {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.work .work-link a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #6195FF;
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

.work:hover .work-link {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}

#media img {
    width: 100%;
    padding: 8px;
}


/*** CTAs ***/

#CTA {
    background: #009BA2;
    text-align: left;
}

#banner-center {
  background: #009BA2;
  text-align: center;
}

#banner-center buttons {
  justify-content: center;
}

#banner-center button {
  min-height: 56px;
  margin-top: 16px;
}


/*** FOOTER ***/

#footer {
    position: relative;
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>img {
  max-height: 64px;
  margin-bottom: 16px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}

.footer-copyright {
    margin-top: 40px;
    text-align: center;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

footer h5 {
  font-weight: 400;
}


/*** RESPONSIVE ***/

.responsive-img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  
  .home-content {
    text-align: center;
  }

  .home-content h1 {
		font-size: 4rem;
	}
  
  h3 {
  font-size: 3rem;
  }
  
  .about h3 {
    font-size: 2rem;
  }

  .home-content p {
    font-size: 1.6rem;
  }

  /* hides mobile mockup */
  .home-mockup {
      display: none;
  }
  
  #integrations .col-sm-2 {
    width: 18%;
  }
  
  #integrations .work {
    padding: 12px;
  }

  buttons a {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  
  .middle {
    flex-direction: column;
  }
  
  #level-up .row, #customer-success .row, #home .row {
    flex-direction: column-reverse;
  }
  
  #CTA .responsive-img {
    margin-bottom: 24px;
  }
  
  button {
    min-height: 56px;
  }
  
  .supporting-txt {
    margin: 8px 56px;
  }
  
  .row {
      text-align: center;
  }

}

@media only screen and (max-width: 768px) {

  #nav.nav-transparent .navbar-brand .logo-alt {
      display: none !important;
  }

  #nav.nav-transparent .navbar-brand .logo {
      display: block !important;
      margin-left: auto;
      margin-right: auto;
  }

  /* aligns logo center */
  /*
    .navbar-brand {
        float: none;
    }
  */

  .navbar {
    padding: 8px 16px !important;
  }

  h2 {
    font-size: 3rem;
	}

  .main-btn , .default-btn , .outline-btn , .white-btn  {
    padding: 8px 24px;
    font-size: 18px;
	}

  .home-content h1 {
		font-size: 4rem;
	}
  
  .header-wrapper h2 {
      margin-bottom: 20px;
      text-align: center;
      display: block;
  }

  .header-wrapper .breadcrumb {
      float: none;
      text-align: center;
  }
    
  .home-content {
      text-align: center;
      margin-top: -24px;
      padding: 0px 24px;
    }

}

/* -- default nav -- */
@media only screen and (min-width: 768px) {

    .main-nav li {
        padding: 8px 24px;
    }
    .main-nav li a {
        font-size: 16px;
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
    }
    .main-nav>li>a {
        color: #10161A;
        padding: 15px 0px;
    }
    #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a {
        color: #43487d;
    }
    .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
        background: transparent;
    }
    .main-nav>li>a:after {
        content: "";
        display: block;
        background-color: #009BA2;
        height: 2px;
        width: 0%;
    }
    .main-nav>li>a:hover:after, .main-nav>li.active>a:after {
        width: 100%;
    }
    /* dropdown */
    .has-dropdown {
        position: relative;
    }
    .has-dropdown>a:before {
        font-family: 'FontAwesome';
        content: "\f054";
        font-size: 6px;
        margin-left: 6px;
        float: right;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: 0.2s transform;
        transition: 0.2s transform;
    }
    .dropdown {
        position: absolute;
        right: -50%;
        top: 0;
        background-color: #6195FF;
        width: 200px;
        -webkit-box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
        -webkit-transform: translateY(15px) translateX(50%);
        -ms-transform: translateY(15px) translateX(50%);
        transform: translateY(15px) translateX(50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    .main-nav>.has-dropdown>.dropdown {
        top: 100%;
        right: 50%;
    }
    .main-nav>.has-dropdown>.dropdown .dropdown.dropdown-left {
        right: 150%;
    }
    .dropdown li a {
        display: block;
        color: #FFF;
        border-top: 1px solid rgba(250, 250, 250, 0.1);
        padding: 10px 0px;
    }
    .dropdown li:nth-child(1) a {
        border-top: none;
    }
    .has-dropdown:hover>.dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px) translateX(50%);
        -ms-transform: translateY(0px) translateX(50%);
        transform: translateY(0px) translateX(50%);
    }
    .has-dropdown:hover>a:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .nav-collapse {
        display: none;
    }

}

@media only screen and (max-width: 320px) {
  #nav button {
    min-width: 100px;
  }
  #home {
    height: 100vh;
  }
  .supporting-txt {
    margin: 8px 12px;
  }
}

/* bootstrap fixes */
@media (max-width: 768px) {
  .about {
    height: 100%;
  }
}

@media (min-width: 992px) {
 
  #home {
    min-height: 643px;
    max-height: 840px;
  }

  #home .col-md-12 {
  text-align: left;
  }

  #integrations .section-header h4 {
  padding: 0px 20%;
  }

  .tablet-video {
    display: none;
  }

  #clients .col-md-2 {
    width: 16%;
  }
  
  #integrations .col-md-2 {
    width: 14%;
  }
  
  .col-md-3 {
    width: 20%;
  }

  .supporting-txt {
    max-width: 200px;
  }

}

@media (min-width: 1920px) {

  .container {
    width: 1300px;
  }

}
