html, body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login {
	max-width: 450px;
	padding: 32px; 
}

.login-logo {
	margin: 0 0 32px 0;
	width: 150px;
}

.login-text {
	margin-bottom: 32px;
}

#login input[type="email"],
#login input[type="password"] {
	border: 1px solid rgba(0,0,0,.1);
	margin: 4px 0;
}

.forgot-password {
	display: inline-block;
	margin: 8px 0;
}